@font-face {
  font-family: "work-sans";
  src: url(./assets/fonts/WorkSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "work-sans";
  src: url(./assets/fonts/WorkSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
:root {
  --txt-clr: #2E4F21;
  --secondary-bg-clr: #FFFFFF;

  --xl-fs: 2.5rem;
  --xs-fs: 0.75rem;

  --md-spacing: 1rem;
  --sm-spacing: 0.75rem;
}
/* GLOBAL */
*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  object-fit: contain;
}
a {
  text-decoration: none;
}
body {
  padding: var(--md-spacing);
}

/* TYPOGRAPHY */
.heading {
  font-weight: 400;
}
.hero__heading {
  font-size: var(--xl-fs);
}

/* LAYOUT */
/* header & navbar */
header {
  justify-content: space-between;
}
nav ul {
  gap: var(--md-spacing);
}
/* hero section */
.hero {
  flex-wrap: wrap;
}

/* COMPONENTS */
.button {
  display: block;
  background-color: var(--txt-clr);
  font-size: var(--xs-fs);
  font-weight: 500;
  color: var(--secondary-bg-clr);
  width: fit-content;
  padding: var(--sm-spacing);
  border-radius: 50px;
}
.card {
  background-color: var(--secondary-bg-clr);
  padding: var(--md-spacing); 
  border-radius: 15px;
}
.tags {
  gap: var(--sm-spacing);
}
.tag {
  background-color: var(--tertiary-bg-clr);
  font-size: var(--xs-fs);
  color: var(--txt-clr);
  font-weight: 500;
  padding: var(--sm-spacing);
  border-radius: 5px;
}

/* UTILITIES */
.flex { 
  display: flex; 
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center; 
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.block-center {
  display: block;
  margin: 0 auto;
}

/* PAGE SPECIFIC */
