@font-face {
  font-family: "work-sans";
  src: url(./assets/fonts/WorkSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "work-sans";
  src: url(./assets/fonts/WorkSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
:root {
  --main-txt-clr: #2E4F21;

  --main-bg-clr: #A0F1BD;
  --secondary-bg-clr: #FFFFFF;
  --tertiary-bg-clr: #F9F9F9;

  --xs-fs: 0.75rem;
  --sm-fs: 1rem;
  --md-fs: 1.75rem;
  --lg-fs: 2rem;
  --xl-fs: 2.5rem;

  --sm-spacing: 0.75rem;
  --md-spacing: 1rem;
  --lg-spacing: 2.5rem

}

/* reset */
*, 
*::before, 
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  object-fit: contain;
  width: 100%;
  margin: 0 auto;
}

/* general styles */
body {
  background-color: var(--main-bg-clr);
  color: var(--main-txt-clr);
  font-family: "work-sans";
  height: 100vh;
}
.wrapper {
  padding: 1rem;
}
.heading {
  font-weight: 400;
}
.hero-heading {
  font-size: var(--xl-fs);
}
.section-heading {
  font-size: var(--lg-fs);
}
section {
  background-color: var(--secondary-bg-clr);
}
section > p {
  margin-block: 1.75rem;
}

/* sections */
/* header & navbar */
header, 
nav {
  display: flex;
  align-items: center;
}
header {
  justify-content: space-between;
  align-items: center;
}
header a {
  color: var(--main-txt-clr);
}
nav {
  gap: 1rem;
}
/* hero section */
.hero {
  background-color: var(--main-bg-clr);
  padding-block: var(--lg-spacing);

}
.pitch-side {
  margin-block: var(--lg-spacing); 
}
h1 {
  margin-bottom: var(--md-spacing);
}
/* services section */
.services {
  background-color: var(--tertiary-bg-clr);
  padding-block: 7.5rem 1rem;
}
.services .button {
  margin: 0 auto 6.25rem auto;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--md-spacing);
}
/* testimonials section */
.testimonials {
  background-color: var(--tertiary-bg-clr);
}
.author-list {
  display: flex;
}
.author {
  padding: var(--xs-fs);
  border-radius: 10px;
}
.author.active {
  background-color: var(--main-txt-clr);
  color: var(--secondary-bg-clr);
}

/* utility classes */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

/* components */
.button {
  display: block;
  background-color: var(--main-txt-clr);
  color: var(--tertiary-bg-clr);
  font-size: var(--xs-fs);
  font-weight: 500;
  width: fit-content;
  padding: var(--sm-spacing);
  border-radius: 30px;
}
.card {
  background-color: #D2F8DC;
}
.card--alt {
  background-color: var(--secondary-bg-clr);
}
.card, 
.card--alt {
  padding: var(--lg-spacing) var(--md-spacing);
  border-radius: 15px;
}
.card .card__image {
  width: 311px;
  margin-bottom: 70px;
}
.card__title {
  font-size: var(--xl-fs);
  margin-bottom: 24px;
}
.card__description {
  margin-bottom: 4.375rem;
}
.tag-list {
  display: flex;
  gap: 10px;
}
.card__tag {
  background-color: #fff;
  font-size: var(--xs-fs);
  font-weight: 500;
  padding: var(--sm-spacing);
  border-radius: 10px;
}
