@font-face {
  font-family: "work-sans";
  src: url(./assets/fonts/WorkSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "work-sans";
  src: url(./assets/fonts/WorkSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
:root {
  --xl-fs: 5rem;
  --md-fs: 1rem;
}
/* GLOBAL */
*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  object-fit: contain;
}

/* TYPOGRAPHY */

/* LAYOUT */
/* header & navbar */
header {
  justify-content: space-between;
}
/* hero section */
.hero {
  flex-wrap: wrap;
}

/* COMPONENTS */

/* UTILITIES */
.flex { 
  display: flex; 
}
.flex-center {
  align-items: center; 
  justify-content: center;
}
.flex-vcenter {
  align-items: center; 
}
.flex-hcenter {
  justify-content: center;
}
.block-center {
  display: block;
  margin: 0 auto;
}

/* PAGE SPECIFIC */
